@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply rounded-full w-full h-10 bg-hover outline-none focus:outline-primary focus:caret-primary;
    }
}

:root {
    /* Background color */
    --theme-background-color: #0f0f0f;
    --background-color: #212121;
    --background-color-hover: #2c2c2c;

    /* Text color */
    --color-text-primary: #8774e1;
    --color-text-secondary: #aaaaaa;
}

@keyframes rotateNega180deg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes rotateFrom180degTo360deg {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}
